version: "3.9"

services:
  app:
    build: .
    container_name: notar-backend
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: notar-redis
    restart: always
    ports:
      - "6379:6379"
